*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* -----------------------------------Genral-code------------------------------------- */
.line{
    width: 150px;
    height: 3px;
    margin: auto;
    border-radius: 90%;
    background-color:blue;
}
.h2-title{
    font-size: 40px;
    padding: 90px 0px 20px 0px ;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-align: center;
}
.bor-6{
    border-radius: 6px;
}
.bor-25{
    border-radius: 25px;
}
.bor-50{
    border-radius: 50px;
}

/* -------------------------------------------------------- */
.header{
    width: 100%;
    height: 50px;
    background-color: #202938;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: .7;
}
.header:hover{
    opacity: .95;
}
.header-image{
    width: 40px;
    height: 40px;
    margin-left: 100px;
    margin-top: 5px;
}
.header ul{
    float: right;
    list-style: none;
    margin-right: 100px;
}
.header ul li{   
    
    display: inline-block; 
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 4px 7px;
    overflow: auto;
    position: relative;
    border: 1px solid rgb(173, 173, 173);
   
}
.header li a{
    text-decoration: none;
    color: rgb(241, 241, 241);
    border-radius: 12px;
    float: right; 
    position: relative;
    text-transform: capitalize;
} 
/* -------------------------------------                       header-hover                   ----------------------------------------------*/
.try{
    width: 100%;
    height: 1.5px;
    background-color: rgb(0, 255, 255);
    margin-bottom: auto;  
}
.try2{
    width: 100%;
    height: 120%;
    background-color: rgba(153, 0, 241, 0);
    /* margin-bottom: ;   */
    position: absolute; 
    top: 0;
    left: 0;  
}

.try2:after{
    position: absolute;
    content: "";

    width: 0px;
    height:5% ;

    top: 80%;
    left: 0px;
    
    background-color: rgb(0, 255, 242);
    opacity: .99;
}
li:hover .try2:hover::after{
    width: 100%;
    height: 10%;
    opacity: 1;
    transition: all 1s;

}
.header li:hover{
    
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}
/* --------------------------------------------------------Home--------------------------------------------------- */
.home{
    width: 100%;
    height:100vh ;
    background-image: url(../imgs/background-3.jpg.jpg);
    background-size: cover ;
    position: relative;
}
.home-title{
    width: 54%;
    height: 250px; 
    border: 1px white solid;
    position: absolute;
    border-radius: 60px;
    margin: 36vh 23%;
    text-align: center;
}
.home-title h1{
    margin-top: 30px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    padding: 10px;
}
.home-title p{
    font-size: 16px;
    color: rgb(91, 91, 124);
    margin-top: 5px;
}
 
.home-btn2,.home-btn1{
    margin: auto;
    font-size: 19px;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    margin-top: 40px;
    margin-left: 20px;
    text-transform: capitalize;
}
.home-btn1{
    background-color: aliceblue;
    border: 1px white;
    color: black;
}
.home-btn1:hover{
    color: rgb(17, 15, 15);
    background-color: rgb(206, 206, 206);
    font-size: 22px;
}
.home-btn2{
    color: white;
    background-color: blue;
    border: 1px solid blue; 
}
.home-btn2:hover{
    border: 1px solid black;
    font-size:22px ;
    background-color: rgb(0, 0, 179) ;
}

/* --------------------------------------------------Welcome----------------------------------------------------- */
.welcome{
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    text-align: center;
}

.welcome-line{
    width: 150px;
    height: 3px;
    margin: auto;
    border-radius: 90%;
    background-color:blue;
    /* padding: 0 0 10px 0; */
}
.welcome-content{
    width: 350px;
    height: 230px;
    /* background-color: #f5f7fc; */
    border: 1px solid black;
    float: left;
    margin: 60px 0px 0px 116px;
    border-radius: 25px;
    position: relative;
}
.welcome-content-center{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    border-radius: 25px;
}
.welcome-content i{
    font-size: 35px;
    color: rgb(0, 0, 0);
    width: 120px;
    height: 90px;
    padding-top: 20px;
}
.welcome-content-h2{
    font-size: 30px;
    margin: -15px 0 15px 0;
}
.welcome-content-p{
    font-size: 18px;
    color: #2c2c2c;
}
.welcome-content button a{
    text-decoration: none;
    text-transform: capitalize;
    color:blue ;
    font-size: 20px;
}
.welcome-content button{
    border: 0px;
    padding-top:30px ;
    background-color: #ffffff00;
}
/* ----------------------------------------------Welcome-Hover---------------------------------------------------- */
.welcome-content::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;
    border-radius: 25px;
    opacity: 0;
    
}
.welcome-content:hover::after{
    width: 100%;
    height: 100%;
    opacity: .9;
    transition: .6s;
}
.welcome-content:hover i,.welcome-content:hover .welcome-content-h2,.welcome-content:hover .welcome-content-p{
    color: #ffffff;transition: 1.1s;
}
.welcome-content:hover a{
    color: rgb(77, 119, 255);
}
/* ---------------------------------                    Work                         ------------------------------------- */
.work{
    width: 100%;
    height: 120vh;
    background-color: #d0d1d3;
    text-align: center;
    overflow: auto;
}

.work-overlay{
width: 400px;
height: 300px;
background-color: rgb(255, 255, 255);
position: relative;
margin: auto;
margin: 30px 0 0 100px ;

float: left;
}
.work-center2,.work-center5{
    margin: 30px -40px 0 60px;
}


.work-content{
    width: 384;
    height: 284;
    /* background-image: url(../imgs/background-4.jpg.jpg); */
    background-size: cover;
    position: absolute;
    margin: 8px;
}
.work-img1{
    background-image: url(../imgs/background-7.jpg);
}
.work-img2{
    background-image: url(../imgs/background-9.jpg);
}
.work-img3{
    background-image: url(../imgs/background-1.jpg);
}.work-img4{
    background-image: url(../imgs/background-5.jpg);
}.work-img5{
    background-image: url(../imgs/background-6.jpg);
}
.work-img6{
    background-image: url(../imgs/background-11.jpg);
}

.work-overlay-h2,.work-overlay-p,.work-i1,.work-i2{
    color: #eeeeee;
    position: absolute;
    z-index: 2; 
    text-align: center;
    visibility: hidden;
}
.work-overlay-h2{
    font-size: 25px;
    margin: 80px 0 0 130px;
    text-transform: uppercase;
    
    }
    .work-overlay-p{
        font-size: 20px;
        margin: 115px 0 0 115px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .work-i1{
        font-size: 22px;
        margin: 140px  0 0 -50px;
       color: blue;
       width: 45px;
       height: 45px;
       background-color:rgb(206, 206, 245) ;
       padding: 11px 0 0 4px;
    }
    .work-i2{
       font-size: 22px;
       margin: 140px  0 0 0;
       color: blue;
       width: 45px;
       height: 45px;
       background-color:rgb(206, 206, 245) ;
       padding: 12px 0 0 4px;
    }
/* -----------------------------------------------------Work-Hover---------------------------------------------------- */
    .work-overlay:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    
}
.work-overlay:hover::after{
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: .6s;
    visibility: visible;
}

.work-overlay:hover .work-overlay-h2,.work-overlay:hover .work-overlay-p,.work-overlay:hover .work-i1,.work-overlay:hover .work-i2{
    visibility: visible;
}
/* ----------------------------------------------Offer---------------------------------------------------------- */
.offer{
    width: 100%;
    height: 90vh;
    background-color: #ffffff;
    text-align: center;
    overflow: auto;
}
.offer-content{
    width: 400px;
    height: 200px;
    background: #ffffff;
    position: relative;
    border:1px solid #2c2c2c;
    float: left;
    margin: 25 0 0 78px;
    position: relative;
}
.offer-content-center{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.offer-content-center-i{
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin:30px 300px 0 0;
}
.offer-content-center-h2{
    font-size: 30px;
    text-transform: capitalize;
    margin: -20px 0 0 0;
}
.offer-content-center-p{
    text-align: left;
    margin:15px 0 0 85px;
    font-size: 16px;
}
/* --------------------------------------------------Work-hover------------------------------------------------------ */
.offer-content:after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    
    
}
.offer-content:hover::after{
    width: 100%;
    height: 100%;
    opacity: .9;
    transition: .6s;
}
.offer-content:hover .offer-content-center-i{
color: aqua;
transition: 1s;
}
.offer-content:hover .offer-content-center-h2,.offer-content:hover .offer-content-center-p{
    color: #ffffff;
    transition: 1s;
}
/* ----------------------------------------------------------Choose--------------------------------------------------------- */
.top-choose{
    width: 100%;
    height: 130vh;
    position: relative;
    background-image: url(../imgs/background-3.jpg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.choose{
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    /* color: #ffffff; */
    z-index: 5;
}
.choose-content{
    width: 80%;
    height: 80%;
    margin: auto;
    margin: 0 10%;
    word-spacing: 5px 0px;
    
}

.choose-content-p{
    width:50% ;
    font-size: 20px;
    text-transform: capitalize;
    margin: 120px 0 0 0;
}
.choose-content-h2{
    margin: 30px 0 0 0;
    display: inline-block;
    word-spacing: 5px;
}
.choose-content-i{
    display: inline;
    font-size: 25px;
}
.choose-content-img{
    position: absolute;
    width:  700px;
    height: 700px;
    z-index: 2;
    top: 50px;
    left: 50%;

}
.choose-cycle{
    position: absolute;
    top: 680px;
    left: 1075;
    z-index: 20;
}
.choose-cycle-1,.choose-cycle-2,.choose-cycle-3{
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    float: left;
    margin:  0 0 0 10;
    
}
.choose-cycle-1{
    background-color: blue;      
}
/* --------------------------------------               choose-hover              ---------------------------------------- */
.choose-cycle-2:hover,.choose-cycle-3:hover{
    background-color: blue;
    transition: 1s;
}
/* --------------------------------------               skill              ---------------------------------------- */
.skill{
    width: 100%;
    height: 30vh;
    background-color: #00000052;
    position: absolute;
    z-index: 2;
    overflow: auto;
}
.skill-content{
    width: 200px;
    height: 100%;
    text-align: center;
    margin: 0 0 0 150px;
    float: left;
}


.skill-i{
    font-size: 35px;
    color: #ffffff;
    float: left;
    margin: 70px 0 0 85px ;
}
.skill-h2{
    font-size: 25px;
    color: #ffffff;
    padding: 120px 0 0 0px ;   
}
/* --------------------------------------           skill-Hover              ---------------------------------------- */
.skill-content:hover .skill-i1,.skill-content:hover .skill-i2,.skill-content:hover .skill-i3,.skill-content:hover .skill-i4 {
    transition: .5s;
}
.skill-content:hover .skill-i1{color: #acacac;}
.skill-content:hover .skill-i2{color:gold;}
.skill-content:hover .skill-i3{color: brown;}
.skill-content:hover .skill-i4{color: #00ff22;}
/* ------------------------------------------             pricing            -------------------------------------------- */
.top-pricing{
    width: 100%;
    height: 130vh;
    background:url(../imgs/background-4.jpg.jpg) fixed  no-repeat;
}
.pricing{
    width: 100%;
    height: 90vh;
    background-color: #f0f0f0;
    /* color: #feffff; */
    overflow: auto;
}
.pricing-ovarlay{
    width: 300px;
    height: 390px;
    background-color: #6c7281;
    text-align: center;
    border-radius: 25px;
    border: 1 solid black;
    position: relative;
    float: left;
    margin: 50 0 0 155px;
}
.pricing-content{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.pricing-content-h2{
    font-size: 30px;
    text-transform: uppercase;
     
}
.pricing-content-cycle{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 10px 100px;
}
.pricing-content-cycle-h2{
    font-size: 35px;
    margin: 10px 0 0 -7px;
}
.pricing-content-cycle-h2-2{
    font-size: 15px;
}
.pricing-content-btn{
    width: 120px;
    height: 30px;
    margin: 70px 70 0  70;
    border: 1px solid black;
    border-radius: 25px;
}
/* -----------------------------------------           pricing-hover           ----------------------------------------------------------------- */
.pricing-ovarlay:after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    border-radius: 25px;
    
}
.pricing-ovarlay:hover::after{
    width: 100%;
    height: 100%;
    opacity: .9;
    transition: .6s;
}
.pricing-content:hover{
    color: #ffffff;
    transition: 3s;
}
.pricing-content:hover .pricing-content-cycle{
    border:1px solid #ffffff ;
}
.pricing-content:hover .basic-h2,.crystal-h2,.gold-h2{
    transition: 2s;
}
.pricing-content:hover .basic-h2{
    color:silver;    
}
.pricing-content:hover .gold-h2{
    color:gold;
    
}
.pricing-content:hover .crystal-h2{
    color: aqua;
    
}.pricing-content-btn{
    
}
.pricing-content-btn:hover{
    color: aliceblue;
    background-color: #acacac;
    font-size: 16px;
}
/* -----------------------------------            bottom-pricing            --------------------------------------------------------------- */
.bottom-pricing-1,.bottom-pricing-2{
    width: 500px;
    height: 200px;
    float: left;
   margin: 60px 0 0 170;
}
.bottom-pricing-img{
    border-radius: 50%;
}
.bottom-pricing-img,.bottom-pricing-h2,.bottom-pricing-h2{
    float: left;
}
.bottom-pricing-h2{
    margin: 25px 0 0 5px;
    color: white;
}
.bottom-pricing-h3{
    display: block;
    margin: 35px 0 0 107px;
    color: blue;
}
.bottom-pricing-p{
    padding: 10px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 15 0 0 15 ;
}
/* <------------------------------------------------                    Team              -------------------------------------------------------- --> */
.team{
    width: 100%;
    height: 90vh;
}
.team-parent{
    width: 300;
    height: 350px;
    background-color: #000000;
    position: relative;
    float: left;
    margin: 50px 0 0 150px ;
}
.team-content{
    width: 280px;
    height: 330px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    
}
.team-img{
   width: 280px;
   height: 260px;
}
.team-content-h2{
    margin: 8;
    color: #eeeeee;
    text-transform: capitalize;
}
.team-content-h3{
    color: #8e8e8e;
}
.team-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.544);
    top: 0;
    left: 0;
    visibility: hidden;
}
.team-overlay a{
    display: block;
    width: 28px;
    height: 28px;
    margin: 10px 10px 0 0;
    margin-left: auto;
    background-color: #ffffff;
    
}
.team-content a i{
    font-size: 30px;
}
.team-overlay-i1{
    color: blue;
}
.team-overlay-i2{
    color: #c800ff;
}
.team-overlay-i3{
    color: #0668c1;
}
/* ---------------------------------------------                         overlay                         --------------------------------------------------------------------- */
.team-parent:after{
    position: absolute;
    content: "";
    width:100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    
    
}
.team-parent:hover::after{
    width: 100%;
    height: 100%;
    opacity: .3;
    transition: .6s;
}
.team-parent:hover .team-overlay{
    visibility: visible;
}
/* --------------------------------------                               News                                         -------------------------------------------------- */

.news{
    width: 100%;
    height: 110vh ;
    background-color: #d0d1d3;
    position: relative;
    
}
.news-parent{
    height: 500px;
    width: 330px;
    position: absolute;
    border-radius: 25px;
    overflow: auto;
}
.news-content{
    width: 330px;
    height: 500px;
    background-color: #a9a9a9;
    margin: 5px;
    text-align: center;
    border-radius: 25px;
    position: relative;
    float: left;
    margin: 50px 0 0 130px;
    
}
.news-content-img{
    width: 310px;
    height: 330px;
    margin: 010 10 10 10px;
    border-radius: 25px;
}
.news-content i {
    padding:0 3 0 10px;

}
.news-content h3{
    color: #ffffff;
    display: inline;

}
.news-content-p{
    color:#000000
}
/* --------------------------------------                               News-hover                                         -------------------------------------------------- */
.news-content:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #000000;
    border-radius: 25px;
}
.news-content:hover::after{
width: 100%;
height: 100%;
opacity: .5;
transition: 1s;
}
/* <!-- ----------------------------------------------                    communication            -------------------------------------------------------- --> */
.communication{
    width: 100%;
    height:42vh;
    background-color:#000000;
}
.communication-content{
    width: 50%;
    height: 100%;
    margin: 0 auto;

    text-align: center;
}
.communication-content a{
    margin: 10px 0 5 0;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color:rgb(88, 88, 250);
    padding: 13;
    border-radius: 50%;
}
.communication-content a i{

    font-size: 30px;
    color: white;
}
.communication-content p{
    display: block;
    font-size: 18px;
    color: #8e8e8e;
    letter-spacing: 5px;
    word-spacing: 5px;
    
}

    
